import (
	"gfx.cafe/etherlands/go/common/protocol/types"
	"io"
)

var _ io.Reader

type Packet interface {
	PacketId() VarInt

	Namespace() Namespace

	PacketName() string

	Unmarshal(r io.Reader) error
	Marshal(w io.Writer) error
}

type Namespace interface {
	PacketById(id VarInt) Packet
}

{{range $name, $type := .Types -}}
	{{if isCustomType $name -}}
		type {{$name}} = types.{{$name}}
	{{else if isGeneratedType $name -}}
		{{template "allFor" (list $name $type)}}
	{{end -}}
{{end -}}
