import (
)

{{range $curCount := iterateFromN 1 .Count}}
type {{template "generictypedef" $curCount}} struct {
  inner Map1[K0, {{template "reltypedef" (list (sub $curCount 1) 1)}}]
}

func (m *{{template "typedef" $curCount}}) Load({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}} K{{$val}}, {{end}}
) (value V, ok bool) {
  return m.Load{{$curCount}}({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}}, {{end}}
  )
}

func (m *{{template "typedef" $curCount}}) Delete({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}} K{{$val}}, {{end}}
) {
  m.Delete{{$curCount}}({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}}, {{end}}
  )
}

func (m *{{template "typedef" $curCount}}) Range({{range $val := (iterateFromN 0 $curCount) }}k{{$val}} K{{$val}}, {{end}}
f func(K{{$curCount}}, V) bool) {
  m.Range{{$curCount}}({{range $val := (iterateFromN 0 $curCount) }}k{{$val}}, {{end}}f)
}

func (m *{{template "typedef" $curCount}}) LoadAndDelete({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}} K{{$val}}, {{end}}
) (value V, loaded bool) {
  return m.LoadAndDelete{{$curCount}}({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}}, {{end}}
  )
}

func (m *{{template "typedef" $curCount}}) LoadOrStore({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}} K{{$val}}, {{end}}
v V) (value V, loaded bool) {
  return m.LoadOrStore{{$curCount}}({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}}, {{end}}
  v)
}

func (m *{{template "typedef" $curCount}}) Store({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}} K{{$val}}, {{end}}
value V) {
  m.Store{{$curCount}}({{range $val := (iterateFromN 0 (add $curCount 1)) }}k{{$val}}, {{end}}
  value)
}

{{range $subCurCount:= iterateFromN 0 (add $curCount 1)}}

func (m *{{template "typedef" $curCount}}) Load{{$subCurCount}}({{range $val := (iterateFromN 0 (add 1 $subCurCount)) }}k{{$val}} K{{$val}}, {{end}}
) (value {{template "reltypedef" (list (sub (sub $curCount $subCurCount) 1) (add $subCurCount 1))}}, ok bool) {
  item0 := m.inner
{{range $val := (iterateFromN 1 ($subCurCount)) }}
  var item{{$val}}  {{template "reltypedef" (list (sub $curCount .) .)}}
  item{{$val}}, ok = item{{sub $val 1}}.Load0(k{{sub $val 1}})
  if !ok {
    return
  }
{{end}}
  return item{{$subCurCount}}.Load0(k{{$subCurCount}})
}

func (m *{{template "typedef" $curCount}}) Delete{{$subCurCount}}({{range $val := (iterateFromN 0 (add 1 $subCurCount)) }}k{{$val}} K{{$val}}, {{end}}
) {
  var ok bool
  _ = ok
  item0 := m.inner
{{range $val := (iterateFromN 1 ($subCurCount)) }}
  var item{{$val}}  {{template "reltypedef" (list (sub $curCount .) .)}}
  item{{$val}}, ok = item{{sub $val 1}}.Load0(k{{sub $val 1}})
  if !ok {
    return
  }
{{end}}
  item{{$subCurCount}}.Delete0(k{{$subCurCount}})
}

func (m *{{template "typedef" $curCount}}) Range{{$subCurCount}}({{range $val := (iterateFromN 0 $subCurCount) }}k{{$val}} K{{$val}}, {{end}}
f func(K{{$subCurCount}}, {{template "reltypedef" (list (sub (sub $curCount $subCurCount) 1) (add $subCurCount 1))}}) bool) {
  var ok bool
  _ = ok
  item0 := m.inner
  {{range $val := (iterateFromN 1 ($subCurCount)) }}
    var item{{$val}}  {{template "reltypedef" (list (sub $curCount .) .)}}
    item{{$val}}, ok = item{{sub $val 1}}.Load0(k{{sub $val 1}})
    if !ok {
      return
    }
  {{end}}
  item{{$subCurCount}}.Range0(f)
}

func (m *{{template "typedef" $curCount}}) LoadAndDelete{{$subCurCount}}({{range $val := (iterateFromN 0 (add 1 $subCurCount)) }}k{{$val}} K{{$val}}, {{end}}
) (value {{template "reltypedef" (list (sub (sub $curCount $subCurCount) 1) (add $subCurCount 1))}}, loaded bool) {
  item0 := m.inner
{{range $val := (iterateFromN 1 ($subCurCount)) }}
  var item{{$val}}  {{template "reltypedef" (list (sub $curCount .) .)}}
  item{{$val}}, loaded = item{{sub $val 1}}.Load0(k{{sub $val 1}})
  if !loaded {
    return
  }
{{end}}
  return item{{$subCurCount}}.LoadAndDelete0(k{{$subCurCount}})
}

func (m *{{template "typedef" $curCount}}) LoadOrStore{{$subCurCount}}({{range $val := (iterateFromN 0 (add 1 $subCurCount)) }}k{{$val}} K{{$val}}, {{end}}
v {{template "reltypedef" (list (sub (sub $curCount $subCurCount) 1) (add $subCurCount 1))}}) (value {{template "reltypedef" (list (sub (sub $curCount $subCurCount) 1) (add $subCurCount 1))}}, loaded bool) {
  item0 := m.inner
{{range $val := (iterateFromN 1 ($subCurCount)) }}
  var item{{$val}} {{template "reltypedef" (list (sub $curCount .) .)}}
  item{{$val}}, _ = item{{sub $val 1}}.LoadOrStore0(k{{sub $val 1}}, {{template "reltypedef" (list (sub $curCount .) .)}}{})
{{end}}
  return item{{$subCurCount}}.LoadOrStore0(k{{$subCurCount}}, v)
}

func (m *{{template "typedef" $curCount}}) Store{{$subCurCount}}({{range $val := (iterateFromN 0 (add 1 $subCurCount)) }}k{{$val}} K{{$val}}, {{end}}
value {{template "reltypedef" (list (sub (sub $curCount $subCurCount) 1) (add $subCurCount 1))}}) {
  item0 := m.inner
{{range $val := (iterateFromN 1 ($subCurCount)) }}
  var item{{$val}} {{template "reltypedef" (list (sub $curCount .) .)}}
  item{{$val}}, _ = item{{sub $val 1}}.LoadOrStore0(k{{sub $val 1}}, {{template "reltypedef" (list (sub $curCount .) .)}}{})
{{end}}
  item{{$subCurCount}}.Store0(k{{$subCurCount}}, value)
}
{{end}}

{{end}}

