import (
	"sync"
)

// Map1 is like a Go map[K]V but is safe for concurrent use by multiple goroutines without additional locking or coordination. Loads, stores, and deletes run in amortized constant time.
//
// The Map1 type is optimized for two common use cases: (1) when the entry for a given key is only ever written once but read many times, as in caches that only grow, or (2) when multiple goroutines read, write, and overwrite entries for disjoint sets of keys. In these two cases, use of a Map1 may significantly reduce lock contention compared to a Go map paired with a separate Mutex or RWMutex.
//
// The zero Map1 is empty and ready for use. A Map1 must not be copied after first use.
type Map1[K comparable, V any] struct {
	inner sync.Map
}

// Delete deletes the value for a key.
func (m *Map1[K, V]) Delete(key K) {
	m.inner.Delete(key)
}

func (m *Map1[K, V]) Delete0(key K) {
	m.Delete(key)
}

// Load returns the value stored in the map for a key, or nil if no value is present. The ok result indicates whether value was found in the map.
func (m *Map1[K, V]) Load(key K) (value V, ok bool) {
	val, ok := m.inner.Load(key)
	if ok {
		return val.(V), ok
	}
	var def V
	return def, ok
}

func (m *Map1[K, V]) Load0(key K) (value V, ok bool) {
	return m.Load(key)
}

// LoadAndDelete deletes the value for a key, returning the previous value if any. The loaded result reports whether the key was present.
func (m *Map1[K, V]) LoadAndDelete(key K) (value V, loaded bool) {
	val, loaded := m.inner.LoadAndDelete(key)
	if loaded {
		return val.(V), loaded
	}
	var def V
	return def, loaded
}

func (m *Map1[K, V]) LoadAndDelete0(key K) (value V, loaded bool) {
	return m.LoadAndDelete(key)
}

// LoadOrStore returns the existing value for the key if present. Otherwise, it stores and returns the given value. The loaded result is true if the value was loaded, false if stored.
func (m *Map1[K, V]) LoadOrStore(key K, value V) (actual V, loaded bool) {
	val, loaded := m.inner.LoadOrStore(key, value)
	if loaded {
		return val.(V), loaded
	}
	var def V
	return def, loaded
}

func (m *Map1[K, V]) LoadOrStore0(key K, value V) (actual V, loaded bool) {
	return m.LoadOrStore(key, value)
}

// Range calls f sequentially for each key and value present in the map.
// If f returns false, range stops the iteration.
//
// Range does not necessarily correspond to any consistent snapshot of the Map1's
// contents: no key will be visited more than once, but if the value for any key
// is stored or deleted concurrently (including by f), Range may reflect any
// mapping for that key from any point during the Range call. Range does not
// block other methods on the receiver; even f itself may call any method on m.
//
// Range may be O(N) with the number of elements in the map even if f returns
// false after a constant number of calls.
func (m *Map1[K, V]) Range(f func(key K, value V) bool) {
	innerFun := func(key, value any) bool {
		tKey, tVal := key.(K), value.(V)
		return f(tKey, tVal)
	}
	m.inner.Range(innerFun)
}

func (m *Map1[K, V]) Range0(f func(key K, value V) bool) {
	m.Range(f)
}

// Store sets the value for a key.
func (m *Map1[K, V]) Store(key K, value V) {
	m.inner.Store(key, value)
}

func (m *Map1[K, V]) Store0(key K, value V) {
	m.Store(key, value)
}
